*.la
*.lo
*.o
.deps
.libs
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
clutter-box2d*.pc
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-*

.*.sw?
.gdb_history

/build/autotools/*.m4
!/build/autotools/introspection.m4
!/build/autotools/as-compiler-flag.m4
/clutter-box2d/clutter-box2d-marshal.c
/clutter-box2d/clutter-box2d-marshal.h
/doc/reference/version.xml
/examples/blockbox
/gtk-doc.make
